<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense-tracker Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">Expense-tracker</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/reports">Reports</a></li>
        </ul>
    </nav>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; Expense Tracker</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js"></script>
     {% block scripts %}{% endblock %}
</body>
</html>